/.idea
*.js
*.js.map

node_modules
/index.js
/index.js.map
/src/de/mayflower/mfg/Mfg.js
/src/de/mayflower/mfg/Mfg.js.map
/src/de/mayflower/mfg/game/MfgGame.js
/src/de/mayflower/mfg/game/MfgGame.js.map
/_references.js
/_references.js.map
/src/de/mayflower/mfg/ui/MfgCanvas.js
/src/de/mayflower/mfg/ui/MfgCanvas.js.map
/src/de/mayflower/mfg/MfgSettings.js
/src/de/mayflower/mfg/MfgSettings.js.map

*.map
