/.idea
node_modules
/index.js
/index.js.map
/src/de/mayflower/mfg/Mfg.js
/src/de/mayflower/mfg/Mfg.js.map
/src/de/mayflower/mfg/game/MfgGame.js
/src/de/mayflower/mfg/game/MfgGame.js.map
/_references.js
/_references.js.map
